.form-v1-1{
    position: absolute;

}
.progress-div{
    height: 10px;
    width: 100%;
   background-color:  #ECECEC !important ;
   border-radius: 5px;
   margin-bottom: 44px;
}
.progress-bar{
    position: absolute;
    width:12.5%;
    height: 10px;
    border-radius: 5px;
    background:linear-gradient(to right,rgb(76,51,226),rgb(134,40,233));
    transition: 1s all;
}

.question-div{
    margin-bottom: 40px;
}
.question{
    margin-bottom: 15px;
    font-weight: 600;
}
.options{
    margin-bottom: 25px;
    display: flex;
 
    /* overflow-x: auto !important; */
  
}
/* .options::-webkit-scrollbar {    display: block !important;} */

.option{
    margin-bottom: 10px;   
}
.btn-hidden {
    position:absolute;
    visibility:hidden;
    opacity:0;
    
}
.question-div input[type=checkbox] + label {
  padding: 11px 10px;

  background-color: #EFEFEF;
  border-radius: 20px;
  font-size: 14px;
  margin-right: 5px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: none;
} 
.question-div input[type=checkbox]:checked + label {
    background:linear-gradient(to right,rgb(76,51,226),rgb(134,40,233)) !important;
    color: #FEFEFF !important;
}
.icon{
   position: relative;
   top: 5px;
   margin-right: 10px;

}
.next-back-div{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.back-btn{
    margin-top: 45px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
.options-grid{
    
    display: grid;
    grid-template-columns: repeat( 8, minmax(180px, 1fr) );
    grid-template-rows: .15fr .15fr .15fr;
    gap: 0px 0 !important;
    height: 50vh;
    overflow-y: auto;
    
}